include VERSION
include *.txt
include *.rst
include setup.py
include setup.cfg
include *.md
include *.toml
include *.yaml
include *.yml
include MANIFEST
include detox
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.wdm
recursive-include src *.py
recursive-include tests *.csv
recursive-include tests *.py
recursive-include wdm_support *.INC
recursive-include wdm_support *.pyf
recursive-include wdm_support *.sh
