[project]
name = "wdmtoolbox"
dependencies = [
    "tstoolbox >= 103",
    "filelock",
]

[tool.cibuildwheel]
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"

# Before Python 3.10, manylinux2010 is the most compatible
[[tool.cibuildwheel.overrides]]
select = "cp3?-*"
manylinux-x86_64-image = "manylinux2010"
manylinux-i686-image = "manylinux2010"

[tool.check-manifest]
ignore = [".travis.yml",
          "docs/_function_autosummary/*"]


[tool.commitizen]
name = "cz_conventional_commits"
version = "12.9.0"
tag_format = "v$version"
version_files = ["VERSION"]
update_changelog_on_bump = true


[build-system]
requires = [
    "setuptools",
    "oldest-supported-numpy",
]
build-backend = "setuptools.build_meta"
