---
name: Build linux wheels

# yamllint disable-line rule:truthy
on: [push, pull_request]

env:
    SETUPTOOLS_ENABLE_FEATURES: legacy-editable

jobs:
    build_wheels:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4

            - name: Setup Fortran
              uses: awvwgk/setup-fortran@main
              id: setup-fortran
              with:
                  compiler: gcc
                  version: 13
            - run: ${{ env.FC }} --version
              env:
                  FC: ${{ steps.setup-fortran.outputs.fc }}
                  CC: ${{ steps.setup-fortran.outputs.cc }}

            - name: Build wheels
              uses: pypa/cibuildwheel@v2.16.2
              env:
                  CIBW_BUILD: cp38-* cp39-* cp310-* cp311-*
                  CIBW_SKIP: pp* cp36-* cp37-* *_i686

                  CIBW_BEFORE_BUILD_LINUX: |
                      yum upgrade -y || apt-get update -y || apk update ;
                      yum upgrade -y hdf5-devel openblas-devel || apt-get install -y libhdf5-dev libopenblas-dev || apk add --update hdf5-dev openblas-dev
                  CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
                  CIBW_MANYLINUX_I686_IMAGE: manylinux2014
                  CIBW_MANYLINUX_AARCH64_IMAGE: manylinux2014

                  CIBW_TEST_REQUIRES: pytest
                  CIBW_TEST_COMMAND: |
                      cd {project}
                      pytest

            - name: Build source distribution
              run: |
                  python3 -m pip install --upgrade pip
                  python3 -m pip install --upgrade meson
                  python3 -m pip install --upgrade wheel
                  python3 -m pip install --upgrade numpy
                  python3 -m pip install --upgrade build
                  python3 -m build

            - name: Upload
              env:
                  TWINE_USERNAME: __token__
                  TWINE_PASSWORD: ${{ secrets.PYPI_WDMTOOLBOX_TOKEN }}
              run: |
                  python3 -m pip install --upgrade twine
                  twine upload --verbose --skip-existing dist/*
                  twine upload --verbose --skip-existing wheelhouse/*.whl
