---
# This workflow will install Python dependencies, run tests and lint with
# a variety of Python versions For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:  # yamllint disable-line rule:truthy
    push:
        branches: [develop]
    pull_request:
        branches: [develop]
    workflow_dispatch:
    workflow_call:

jobs:
    test:
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-versions: ['3.10', '3.11', '3.12', '3.13', '3.14']
                pandas-versions: [pandas<2.0.0, pandas>=2.0.0]
                numpy-versions: [numpy<2.0.0, numpy>=2.0.0]

                toolchain:
                    - {compiler: gcc, version: 13}

                exclude:
                    - python-versions: '3.12'
                      pandas-versions: pandas<2.0.0
                    - python-versions: '3.13'
                      pandas-versions: pandas<2.0.0
                    - python-versions: '3.14'
                      pandas-versions: pandas<2.0.0
                    - python-versions: '3.12'
                      numpy-versions: numpy<2.0.0
                    - python-versions: '3.13'
                      numpy-versions: numpy<2.0.0
                    - python-versions: '3.14'
                      numpy-versions: numpy<2.0.0
                    - pandas-versions: pandas<2.0.0
                      numpy-versions: numpy>=2.0.0

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  submodules: recursive

            - name: Set up Python ${{ matrix.python-versions }}
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-versions }}

            - name: >
                  Setup ${{ matrix.toolchain.compiler }} fortran compiler
                  version ${{ matrix.toolchain.version }}
              uses: fortran-lang/setup-fortran@v1
              id: setup-fortran
              with:
                  compiler: ${{ matrix.toolchain.compiler }}
                  version: ${{ matrix.toolchain.version }}
              env:
                  FC: ${{ steps.setup-fortran.outputs.fc }}
                  CC: ${{ steps.setup-fortran.outputs.cc }}

            - name: Install dependencies pytest
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install pytest pytest-cov

            - name: Meson setup
              run: |
                  python -m pip install meson ninja meson-python
                  python -m pip install setuptools_scm
                  python -m pip install 'numpy>=2.0.0'

            - name: >
                  Install package and dependencies
                  version ${{ matrix.pandas-versions }}
              run: >
                  python -m pip install --no-build-isolation .

            - name: >
                  Install dependencies to test wdmtoolbox
                  with pandas ${{ matrix.pandas-versions }}
                  and numpy ${{ matrix.numpy-versions }}
              run: >
                  python -m pip install
                  '${{ matrix.pandas-versions }}'
                  '${{ matrix.numpy-versions }}'

            - name: Run tests with pytest
              run: |
                  python -m pytest --cov

            - name: Upload coverage data to coveralls.io
              uses: coverallsapp/github-action@v2
              with:
                  parallel: true

    finish:
        needs: test
        if: ${{ always() }}
        runs-on: ubuntu-latest
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@v2
              with:
                  parallel-finished: true
