---
# This workflow will install Python dependencies, run tests and lint with
# a variety of Python versions For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:  # yamllint disable-line rule:truthy
    push:
        branches: [develop]
    pull_request:
        branches: [develop]
    workflow_dispatch:
    workflow_call:

jobs:
    test:
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-2022]
                python-versions: ['3.9', '3.10', '3.11', '3.12', '3.13']
                pver: [1.5.3, 2.0.0, 2.2.0, 2.2.3]
                toolchain:
                    - {compiler: gcc, version: 13}
                exclude:
                    - python-versions: '3.13'
                      pver: 1.5.3
                    - python-versions: '3.13'
                      pver: 2.0.0
                    - python-versions: '3.13'
                      pver: 2.2.0
                    - python-versions: '3.8'
                      pver: 2.2.0
                    - python-versions: '3.8'
                      pver: 2.2.3
                    - os: windows-2022
                      python-versions: '3.8'
                    - os: windows-2022
                      python-versions: '3.9'
                      pver: 2.2.0
                    - os: windows-2022
                      python-versions: '3.10'
                      pver: 2.2.0
                    - os: windows-2022
                      python-versions: '3.11'
                      pver: 2.2.0
                    - os: windows-2022
                      python-versions: '3.12'
                      pver: 2.2.0
                    - os: windows-2022
                      python-versions: '3.13'

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  submodules: recursive

            - name: Set up Python ${{ matrix.python-versions }}
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-versions }}

            - name: >
                  Setup ${{ matrix.toolchain.compiler }} fortran compiler
                  version ${{ matrix.toolchain.version }}
              uses: fortran-lang/setup-fortran@v1
              id: setup-fortran
              with:
                  compiler: ${{ matrix.toolchain.compiler }}
                  version: ${{ matrix.toolchain.version }}
              env:
                  FC: ${{ steps.setup-fortran.outputs.fc }}
                  CC: ${{ steps.setup-fortran.outputs.cc }}

            - name: >
                  Install dependencies with pandas
                  version ${{ matrix.pver }}
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install pandas==${{ matrix.pver }}
                  python -m pip install meson ninja meson-python
                  python -m pip install setuptools_scm
                  python -m pip install --no-build-isolation .

            - name: Test with pytest
              run: |
                  python -m pip install pytest pytest-cov pytest-mpl
                  python -m pytest --cov --mpl

            - name: Upload coverage data to coveralls.io
              uses: coverallsapp/github-action@v2
              with:
                  parallel: true

    finish:
        needs: test
        if: ${{ always() }}
        runs-on: ubuntu-latest
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@v2
              with:
                  parallel-finished: true
